<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Be the First To Know About Our Public Beta</h2>
                <hr class="light">
                <p class="text-faded">NatureBound enables you to Observe, Plan and Verify the role of biodiversity in
                    your transition to sustainable agriculture.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form action="https://buttondown.email/api/emails/embed-subscribe/naturebound" method="post"
                    target="popupwindow" onsubmit="window.open('https://buttondown.email/naturebound', 'popupwindow')"
                    class="embeddable-buttondown-form">
                    <label for="bd-email">Enter your email</label>
                    <input type="email" name="email" id="bd-email" />
                    <input type="submit" value="Subscribe" />
                </form>
            </div>
        </div>
    </div>
</section>