<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/iconlogo.png" class="img-responsive logo-icon" alt="NatureBound Logo">
            <h1>Making Sense of Biodiversity</h1>
            <hr>
            <p>Where farmers and businesses come together to combat the loss of biodiversity and climate change by
                verifying biodiversity outcomes in regenerative agriculture</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <ul>
                <li><a target="_blank" href="https://carbonthirteen.com/"><img src="img/c13.png" class="img-responsive"
                            alt="Carbon13"></a></li>
                <li><a target="_blank" href="https://tnfd.global/about/the-tnfd-forum/"><img src="img/TNFD Member.png"
                            class="img-responsive" alt="TNFD"></a></li>
                </il>
        </div>
    </div>
</header>