<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="fit"><img src="img/iconlogo.png" class="img-responsive logo-icon" alt="NatureBound Logo">
            </div>
            <h1 class="fit">Making Sense of Biodiversity</h1>
            <hr>
            <p>NatureBound is on a mission to regenerate the biodiversity that underpins our food systems. Making siloed
                biodiversity a thing of the past, we are building the first Biodiversity Observability Platform.
            </p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <ul class="fit-small">
                <li><a target="_blank" href="https://carbonthirteen.com/"><img src="img/c13.png" class="img-responsive"
                            alt="Carbon13"></a></li>
                <li><a target="_blank" href="https://tnfd.global/about/the-tnfd-forum/"><img src="img/TNFD Member.png"
                            class="img-responsive" alt="TNFD"></a></li>
                </il>
        </div>
    </div>
</header>