<section class="bg-mid" id="services">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Enabling Regenerative Agriculture</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-satellite wow bounceIn text-primary"></i>
                    <h3>Biodiversity Baseline</h3>
                    <p class="text-muted">Evaluate a holistic biodiversity baseline using targeted measurements</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-route wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pathways to Nature+</h3>
                    <p class="text-muted">Plan a pathway to a nature-positive future through targeted interventions</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Model & Monitor</h3>
                    <p class="text-muted">Observe and predict key biodiversity outcomes</p>
                </div>
            </div>
        </div>
    </div>
</section>