<section class="bg-dark" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet the Team</h2>
                <hr class="primary">
                <p>We reside at the intersection of sustainability, engineering, and biodiversity. <br />This is the
                    team that
                    makes it happen.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/marianna-herold-9a4518/">
                    <img src="img/marianna.png" class="img-responsive" alt="Marianna Herold">
                </a>
                <h2>CEO</h2>
                <h3>
                    Marianna Herold
                </h3>
                <p class="short-bio text-muted">
                    A PhD in industrial engineering and sustainability with 15 years focusing on sustainable supply
                    chain management in the food industry
                </p>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/gidimorris/">
                    <img src="img/gidi.png" class="img-responsive" alt="Gidi Meir Morris">
                </a>
                <h2>CTO</h2>
                <h3>
                    Gidi Meir Morris
                </h3>
                <p class="short-bio text-muted">
                    Software Engineer with over 20 years experience on everything from mission-critical
                    command-and-control systems to cat videos on the internet
                </p>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/iqbal-bhalla-53b74a116/">
                    <img src="img/iqbal.png" class="img-responsive" alt="Iqbal Bhalla">
                </a>
                <h2>Founding Advisor</h2>
                <h3>
                    Iqbal Bhalla
                </h3>
                <p class="short-bio text-muted">
                    An agroecologist with a PhD in biodiversity monitoring and ecosystem services in rice landscapes
                </p>
            </div>
        </div>
</section>