<section class="bg-dark" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet the Team</h2>
                <hr class="primary">
                <p>We reside at the intersection of sustainability, engineering, and biodiversity. This is the team that
                    makes it happen.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/marianna-herold-9a4518/">
                    <img src="img/marianna.png" class="img-responsive" alt="Marianna Herold">
                </a>
                <p>
                    <em>CEO</em> Marianna Herold
                </p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/gidimorris/">
                    <img src="img/gidi.png" class="img-responsive" alt="Gidi Meir Morris">
                </a>
                <p>
                    <em>CTO</em> Gidi Meir Morris
                </p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/iqbal-bhalla-53b74a116/">
                    <img src="img/iqbal.png" class="img-responsive" alt="Iqbal Bhalla">
                </a>
                <p>
                    <em>Founding Advisor</em> Iqbal Bhalla
                </p>
            </div>

        </div>
</section>